

#contrasena{
		visibility: hidden;
		display: none;
}
body {
	background-color: #292003;
	color: green;
	background-image: url("../terminales/TerminalFallout.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#bloquepalabras1,#bloquepalabras2,#bloqueFijo1,#bloqueFijo2,#bloqueFijo3{
	font-family: Courier New, sans-serif;
	font-size: 11.5pt;
}
.palabras:hover {
    background: green;
    color:black;
}
#titulo{
	position:absolute;
	left: 6%;
	top: 5%;
	font-family: Helvetica, sans-serif;
	font-size: 13pt;
	letter-spacing: 0.10em;
}
#intentos{
	position:absolute;
	left: 6%;
	top: 21%;
	font-family: Helvetica, sans-serif;
	font-size: 13pt;
	letter-spacing: 0.10em;
}
#bloquepalabras1{
	position:absolute;
	left: 16%;
	bottom: 13%;
	letter-spacing: 0.10em;
}
#bloquepalabras2 {
	position:absolute;
	left: 47%;
	bottom: 13%;
	letter-spacing: 0.15em;
}
#bloqueFijo1 {
	position: absolute;
	left: 6%;
	bottom: 13%;
}
#bloqueFijo2 {
	position: absolute;
	left: 37%;
	bottom: 13%;

}
#bloqueFijo3{
	position: absolute;
	left: 70%;
	bottom: 13%;

}
#victoria{
	position: absolute;
	left: 6%;
	bottom: 10%;
}
#derrota{
	position: absolute;
	left: 32%;
	bottom: 48%;
	font-size: 20pt;
}
#documento{
	position: relative;
	width: 665px;
	height: 537px;
	top: 55px;
	margin: 0 auto;
}
@media only screen and (max-device-height:768px){
		#documento{
		position: relative;
		width: 665px;
		height: 537px;
		top: 130px;
		margin: 0 auto;
	}
}


@media only screen and (max-device-height:1080px){
	#documento{
		top: 265px;
		

	}

@media only screen and (max-device-height:1024px){
	#documento{
		top: 115px;
		

	}

@media only screen and (max-device-height:680px){
	#documento{
		top: 55px;
		

	}

@media only screen and (max-device-height:650px){
	#documento{
		top: 35px;
		

	}

@media only screen and (max-device-height:600px){
	#documento{
		top: 20px;
		

	}
	
}

@media only screen and (max-device-height:510px){
	#documento{
		top: 0px;
		

	}
	
}
