#main {max-width:960px; min-width:320px; margin:0 auto;}

#contrasena{
		visibility: hidden;
		display: none;
}
body {
	color: green;
	background-image: url("../terminales/TerminalFallout.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
}

#bloquepalabras1,#bloquepalabras2,#bloqueFijo1,#bloqueFijo2,#bloqueFijo3{
	font-family: Courier New, sans-serif;
	font-size: 11.5pt;
}
.palabras:hover {
    background: green;
    color:black;
}
#titulo{
	position:absolute;
	left: 27%;
	top: 12%;
	font-family: Helvetica, sans-serif;
	font-size: 13pt;
	letter-spacing: 0.10em;
}
#intentos{
	position:absolute;
	left: 27%;
	top: 26%;
	font-family: Helvetica, sans-serif;
	font-size: 13pt;
	letter-spacing: 0.10em;
}
#bloquepalabras1{
	position:absolute;
	left: 32%;
	bottom: 15.4%;
	letter-spacing: 0.10em;
}
#bloquepalabras2 {
	position:absolute;
	left: 49.6%;
	bottom: 15.5%;
	letter-spacing: 0.15em;
}
#bloqueFijo1 {
	position: absolute;
	left: 27%;
	bottom: 18%;
}
#bloqueFijo2 {
	position: absolute;
	left: 44.5%;
	bottom: 17.6%;

}
#bloqueFijo3{
	position: absolute;
	left: 61.5%;
	bottom: 18%;

}